@import "vars";

.testimonials {
    padding-bottom: 120px;

    &__inner {
        margin: 0 auto;
        max-width: 990px;
    }

    &__title {
        margin-bottom: 45px;
        text-align: center;
    }

    &__list {
    }

    &__item {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        border-radius: 50%;
    }

    &__content {
        box-sizing: border-box;
        max-width: 650px;
        width: 100%;
        padding: 0 40px;
    }

    &__text {
        margin-bottom: 30px;
        font-style: italic;
        position: relative;
        &:before {
            position: absolute;
            content: "";
            width: 24px;
            height: 20px;
            background-image: url('../images/quotationmark.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            left: -40px;
            top: 0;
        }
        &:after {
            position: absolute;
            content: "";
            width: 24px;
            height: 20px;
            background-image: url('../images/quotationmarkreverse.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            right: -35px;
            bottom: 0;
        }
    }

    &__name {
        margin-bottom: 15px;
        color: $orange-900;
        font-weight: 600;
        line-height: 1.3;
    }

    &__person {
        font-size: 14px;
        line-height: 1.3;
    }
}

.swiper {
    padding-bottom: 82px;
}

.swiper-navigation {
    display: flex;  
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 34px;
    z-index: 10;
}

.swiper-button-prev,
.swiper-button-next {
    width: 34px;
    height: 34px;
    cursor: pointer;
}

.swiper-pagination {
    display: flex;
    align-items: center;
    padding: 0 23px;
}

.swiper-pagination-bullet {
    display: block;
    width: 15px;
    height: 15px;
    background-color: $gray;
    border-radius: 50%;
    &:not(:last-child) {
        margin-right: 15px;
    }
}

.swiper-pagination-bullet-active {
    background-color: $orange-900;
}